[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-core = "*"
langchain-groq = "*"
langchain-community = "*"
langchain-ollama = "*"
langchain-text-splitters = "*"
pypdf = "*"
pdfplumber = "*"
faiss-cpu = "*"
ollama = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
